body {
  font-family: "VT323";
  letter-spacing: 0.2em;
}

@font-face {
  font-family: "VT323";
  src: url("../fonts/VT323-Regular.ttf");
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background: #1A1A1A;
  color: #FFFFFF;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

.title {
  position: relative;
  display: inline-block;
}

.title img {
  position: absolute;
  top: -1.5em;
  right: -5em;
  transform: rotate(-25deg);
}

#moon {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  animation-name: beat;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  z-index: -2;
}

@keyframes beat {
  0% {
    width: 500px;
  }
  10% {
    width: 400px;
  }
  20% {
    width: 500px;
  }
  30% {
    width: 400px;
  }
  40% {
    width: 500px;
  }
  50% {
    width: 400px;
  }
  60% {
    width: 500px;
  }
  70% {
    width: 400px;
  }
  80% {
    width: 500px;
  }
  90% {
    width: 400px;
  }
  100% {
    width: 500px;
  }
}
#spaceship {
  position: absolute;
  left: 30rem;
  top: 20rem;
  transform: rotate(65deg);
  animation-name: move;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  z-index: -1;
}

@keyframes move {
  0% {
    left: 30rem;
    top: 20rem;
  }
  20% {
    left: 80%;
    top: 10%;
  }
  30% {
    transform: rotate(165deg);
  }
  50% {
    top: 70%;
    transform: rotate(600deg);
  }
  70% {
    top: 70%;
    left: 10%;
    transform: rotate(40deg);
  }
  100% {
    left: 30rem;
    top: 20rem;
  }
}
@font-face {
  font-family: "VT323";
  src: url("../fonts/VT323-Regular.ttf");
  font-weight: 400;
}
.btn {
  margin: 1rem 0.5rem;
  display: inline-block;
  padding: 0.3em 1.25em;
  font-size: 3rem;
  color: #1A1A1A;
  border: 2px solid transparent;
  cursor: pointer;
  transition: transform 250ms ease-in;
}

.btn:hover {
  transform: scale(1.1);
}

.btn.primary {
  background: #FFC32D;
}

.btn.primary.inverse {
  color: #FFC32D;
  background: transparent;
  border-color: #FFC32D;
}

@font-face {
  font-family: "VT323";
  src: url("../fonts/VT323-Regular.ttf");
  font-weight: 400;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
}

main {
  width: 100%;
}

main h2 {
  position: absolute;
  left: 10%;
}

@font-face {
  font-family: "VT323";
  src: url("../fonts/VT323-Regular.ttf");
  font-weight: 400;
}
#hero {
  height: 100vh;
  text-align: center;
}

#hero .title {
  margin-top: 20vh;
  margin-bottom: 4rem;
}

#game-zone {
  position: relative;
  margin: auto;
  width: 80vw;
  height: 68vh;
  border: 5px solid #2B2B2B;
}

#game-zone .spaceship {
  position: absolute;
  height: 88px;
  width: 88px;
}

#game-zone .star {
  position: absolute;
  height: 64px;
  width: 64px;
}

#spaceship-controls {
  margin: 1.5rem auto;
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;
}

#spaceship-controls div {
  width: 50px;
  height: 50px;
  padding: 0.2em;
  color: #1A1A1A;
  background: #FFC32D;
  text-align: center;
  font-size: 2rem;
}

#spaceship-controls div.w {
  grid-column: 2/3;
}

#spaceship-controls div.a {
  grid-column: 1/2;
}

#spaceship-controls .press {
  filter: brightness(80%) !important;
  transform: scale(0.9) !important;
}

/*# sourceMappingURL=style.css.map */
