@use '../abstracts' as *;


#duplicate_nickname{
	visibility: hidden;
}

#game-zone {
	position: relative;
	margin: auto;
	border: 5px solid $clr-dark-light;

	.spaceship {
		position: absolute;
		height: 88px;
		width: 88px;
		z-index: 20;
	}

	.star {
		position: absolute;
		height: 64px;
		width: 64px;
		z-index: 10;
	}
}

#pregame-message{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	z-index: 30;
	transition: transform 500ms ease;
	animation-name: scale;
	animation-duration: 2s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}
@keyframes scale{
	0%{font-size: 50px;}
	100%{font-size: 80px;}
}


#spaceship-controls {
	margin: 1.5rem auto;
	width: fit-content;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: .5em;
	grid-row-gap: .5em;

	div {
		width: 50px;
		height: 50px;
		padding: .2em;
		color: $clr-dark;
		background: $clr-pri;
		text-align: center;
		font-size: 2rem;

		&.w {
			grid-column: 2/3;
		}
		&.a {
			grid-column: 1/2;
		}

	}
	.press {
		filter: brightness(80%) !important;
		transform: scale(.9) !important;
	}
}

#score-list {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: fit-content;
	padding: 3rem 1.5rem;
	margin: 5rem 0;
	text-align: center;
	background: $clr-dark;
	box-shadow: 0 0 .75rem 0 rgba(#fff, .25);
	z-index: 100;

	h3 {
		letter-spacing: .2em;
	}

	#player-list {
		list-style-type: none;
	}
	
	.player {
		position: relative;
		display: grid;
		grid-template-columns: 2fr 1fr;
		place-items: center;
		margin: 2rem 0;
		width: 400px;
		padding: .3em .5em;
		font-size: 2.5em;
		text-align: center;
		background: $clr-dark-light;

		span {
			padding: .3rem .5rem;
		}
	}

	.score {
		margin-right: 2rem;
		color: $clr-pri;
	}

	.star {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 48px;
		margin-left: 1rem;
	}
}

.starsCounterDiv{
	position: absolute;
	left: 5%;
	top: 10%;

	label{
		font-size: 35px;
	}
}