@use '../abstracts' as *;

input {
	margin: 1rem .5rem;
	display: inline-block;
	padding: .3em 1.25em;
	font-size: 3rem;
	text-align: center;
	border: 2px solid $clr-pri;
	color: $clr-pri;
	background: $clr-dark;

	&:focus {
		border: 2px solid $clr-pri;
	}

	&::placeholder {
		color: $clr-dark-light;
	}
}