@use '../abstracts' as *;

.title {
	position: relative;
	display: inline-block;

	img {
		position: absolute;
		top: -1.5em;
		right: -5em;
		transform: rotate(-25deg);
	}
}

#moon {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
}

#spaceship {
	position: absolute;
	left: 30rem;
	top: 20rem;
	transform: rotate(65deg);
}