@use '../abstracts' as *;

.title {
	position: relative;
	display: inline-block;

	img {
		position: absolute;
		top: -1.5em;
		right: -5em;
		transform: rotate(-25deg);
	}
}

#moon {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	animation-name: beat;
	animation-duration: 15s;
	animation-iteration-count: infinite;
	z-index: -2;
}

@keyframes beat{
	0%{width: 500px;}
	10%{width: 400px;}
	20%{width: 500px;}
	30%{width: 400px;}
	40%{width: 500px;}
	50%{width: 400px;}
	60%{width: 500px;}
	70%{width: 400px;}
	80%{width: 500px;}
	90%{width: 400px;}
	100%{width: 500px;}
}

#spaceship {
	position: absolute;
	left: 30rem;
	top: 20rem;
	transform: rotate(65deg);
	animation-name: move;
	animation-duration: 5s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
	z-index: -1;
}

@keyframes move{
	0%{left:30rem; top:20rem;}
	20%{left:80%; top:10%;}
	30%{transform: rotate(165deg);}
	50%{top:70%; transform: rotate(600deg);}
	70%{top:70%; left: 10%; transform: rotate(40deg);}
	100%{left:30rem; top:20rem;}
}