@use '../abstracts' as *;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	background: $clr-dark;
	color: $clr-light;
}

h1 {
	font-size: 7rem;
}

h2 {
	font-size: 4rem;
}

h3 {
	font-size: 3rem;
}

input {
	background: transparent;
	padding: 0;
	margin: 0;
	outline: 0;
	border: 0;

	&:focus {
		outline: inherit;
		border: inherit;
	}
}